.banner {
  background: url('https://images.unsplash.com/photo-1606744837616-56c9a5c6a6eb?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  height: 206px;   
}

.banner_container {
  height: 100%;
}

.banner .content {
  display: block;
}

.avatar {
  width: 72px;
}

.avatar > img {
  width: 100%;
  height: auto;
}

.greet {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  margin-top: 1rem;
}

section.member_tab {
  background-color: #140F0A;
  padding-top: 40px;
}

/* 修改密碼 */
.edit_password_container {
  padding: 1.5rem;
  border-radius: 1.25rem;
  background-color: white;
}

.edit_password_container:first-child {
  margin-bottom: 1.5rem;
}

.edit_password_container > h5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
} 

label {
  display: block;
  margin-bottom: .5rem;
  font-size: 14px;
}

.input {
  font-size: 14px;
}

.input.input_readonly {
  border-color: transparent;
  outline-color: transparent;
}

.reset_password_btn {
  border: none;
  font-size: 14px;
  font-weight: 700;
  color: #bf9d7d;
}

.deco_line > img {
  width: 100%;
  height: auto;
}

/* 訂單 */
.order_card {
  padding: 1rem;
  border-radius: 20px;
  background-color: white;
}

.order_card > p:nth-child(1) {
  color: #4B4B4B;
  font-size: 14px;
  margin-bottom: .5rem;
}

.order_card > p:nth-child(2) {
  color: black;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.room_img > img {
  width: 100%;
  height: auto;
  border-radius: .5rem;
}

.room_img {
  margin-bottom: 1.5rem;
}

.order_info {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.order_info > div:nth-child(1) { 
  border-right: 1px solid #909090;
  padding-right: 1rem;
}

.order_info > div:nth-child(2) {
  padding-left: 1rem;
}

.check_in_time,
.check_out_time {
  position: relative;
  padding: 1.5px 1rem;
  margin-bottom: .5rem;
  font-size: 14px;
  font-weight: 700;
  color: #4B4B4B;
}

.check_in_time::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  border-radius: 4px;
  background-color: #bf9d7d;
}
.check_out_time::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  border-radius: 4px;
  background-color: #909090;
}

.room_price {
  font-size: 14px;
  font-weight: 700;
  color: #4B4B4B;
  margin-top: 1.5rem;
}

.divide_line {
  margin: 1.5rem;
}

.room_offer_card {
  border: 1px solid #ECECEC;
  border-radius: .5rem;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

/* 元件用 */
.deco_line_title {
  position: relative;
  padding: 1.5px 1rem;
  margin-bottom: .5rem;
  font-size: 14px;
  font-weight: 700;
  color: #4B4B4B;
}

.deco_line_title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  border-radius: 4px;
  background-color: #bf9d7d;
}

@media (min-width: 992px) {
  .banner {
    background: url('https://github.com/hexschool/2022-web-layout-training/blob/main/typescript-hotel/%E6%A1%8C%E6%A9%9F%E7%89%88/hero.png?raw=true');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 384px;   
  }

  .banner .content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .avatar {
    width: 144px;
  }

  .greet {
    font-size: 48px;
    margin-top: unset;
    margin-left: 1.5rem;
  }
}

@media (min-width: 1200px) {
  section.member_tab {
    padding-top: 80px;
  }

  .edit_password_container {
    padding: 2.5rem;
  }

  .edit_password_container > h5 {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }
}