.my-navbar {
  background-color: var(--dark-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 12px;
}

nav > .logo {
  width: 110px;
  height: auto;
}

.menu--mobile {
  display: block;
}

.menu {
  display: none;
}

/* modal */
.navbar-mobile.modal-body {
  position: relative;
  background-color: var(--dark-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-links--mobile > a {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  font-weight: 700;
  text-decoration: none;
  color: var(--text-white);
  margin-bottom: 1rem;
}

.navbar-links--mobile > a:last-child {
  margin-bottom: 0;
  background-color: var(--primary-100);
  border-radius: .5rem;
}

@media (min-width: 1200px) {
  .my-navbar {
    padding: 1.5rem 5rem;
  }

  .menu {
    padding-left: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    color: var(--text-white);
    margin-bottom: 0;
  }

  .menu li {
    padding: 1rem;
    margin-right: 1rem;
  }

  .logo {
    width: 196px;
    height: auto;
  }

  .menu--mobile {
    display: none;
  }
}